<h1>Navegación</h1>

<!-- Routed components go here -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ml-auto"
    routerLink="about-me"
    routerLinkActive="activebutton"
    >About Me
</a> |
    <a class="navbar-brand ml-auto" 
    routerLink="practices"
    routerLinkActive="activebutton"
    >Practices
</a> |
    <a class="navbar-brand ml-auto" 
    routerLink="contact-me"
    routerLinkActive="activebutton"
    >Contact Me
</a>
</nav>
<router-outlet></router-outlet>
