<form [formGroup]="form" (ngSubmit)="save($event)">
    <p>
      Name: <br/>
      <input type="text" formControlName="name">
    </p>
    <p>
      Fecha: <br/>
      <input type="date" formControlName="date">
    </p>
    <p>
      Email: <br/>
      <input type="email" formControlName="email">
    </p>
    <div *ngIf="emailField.errors && emailField.touched">
        <p *ngIf="emailField.hasError('required')">
          No es un email válido
        </p>
      </div>
    <p>
        Texto largo: <br/>
        <textarea cols="30" rows="10" formControlName="text"></textarea>
        <small>{{ textField.value.length }}/200</small>
      </p>
      <div *ngIf="textField.errors && textField.touched">
        <p *ngIf="textField.hasError('required')">
          Es un campo requerido
        </p>
        <p *ngIf="textField.hasError('maxlength')">
          Te pasaste, máximo deben haber 200 caracteres.
        </p>
      </div>
    <button type="submit"
    [disabled]="form.invalid"
    >Enviar</button>
  </form>